[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:Aelbakouri/get_next_line.git
[submodule "libft"]
	path = libft
	url = git@github.com:Aelbakouri/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:Aelbakouri/ft_printf.git
